# Data Preparation

Data was accessed from Freddie Mac, and includes monthly and quarterly data. We will create a dataframe that includes all the data from 2010 to Q2 of 2020 laid out on a monthly basis. 

We will: 

1. Import the data
2. Filter any data we do not need
3. Remove null/NA values
4. Reformat data types 
5. Create dataframe copies for feature engineering
6. Export the dataframe to new CSV file

Since this is a lot of data and the txt files provided do not have headers, we will focus in this NB on creating data frames and then export them. We will use Pandas to read all the files for each year and then combine those into four data frames: 2000-2009, 2010-2019, 2020

In [1]:
%matplotlib inline
import pandas as pd
from pandas_ui import *
import matplotlib.pyplot as plt
import seaborn as sns 
import plotly.express as px

## Import and combine dataframes

We will use Pandas to read, combine, and clean the data. Since this data from Freddie Mac has the headers removed we will have to tell Pandas that 'header=None,' but Pandas will still create a header so we also need to tell it to 'skiprows=1' so we do not end up with duplicate data at the top of each dataframe.

In [2]:
# Loading and naming the columns for each quarter of the dataset in reverse order, for 2015-2020

df_q1_2020 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2020Q1.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q2_2020 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2020Q2.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q3_2020 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2020Q3.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q1_2019 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2019Q1.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q2_2019 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2019Q2.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q3_2019 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2019Q3.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q4_2019 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2019Q4.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q1_2018 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2018Q1.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q2_2018 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2018Q2.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q3_2018 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2018Q3.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q4_2018 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2018Q4.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q1_2017 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2017Q1.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q2_2017 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2017Q2.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q3_2017 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2017Q3.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q4_2017 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2017Q4.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q1_2016 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2016Q1.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q2_2016 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2016Q2.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q3_2016 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2016Q3.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q4_2016 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2016Q4.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q1_2015 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2015Q1.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q2_2015 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2015Q2.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q3_2015 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2015Q3.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q4_2015 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2015Q4.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

/Users/Justin/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (5,26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Justin/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Justin/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6,26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Justin/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (26,27,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

## Creating Combined Dataframe

While we could begin to drop columns we do not need and prepare for feature engineering by data cleaning along the way, I will save that for another notebook for readability.

Below we will join 2020 data together and 2015-2019 data, which we will later append to 2010-2014 data after importing.

In [3]:
# Create new dfs with append

df_2020 = df_q1_2020.append([df_q2_2020])

df_2015_2019 = df_q1_2019.append([df_q2_2019, df_q3_2019, df_q4_2019, df_q1_2018, df_q2_2018, df_q3_2018, df_q4_2018, 
                                  df_q1_2017, df_q2_2017, df_q3_2017, df_q4_2017, df_q1_2016, df_q2_2016, df_q3_2016,
                                 df_q4_2016, df_q1_2015, df_q2_2015, df_q3_2015, df_q4_2015])

In [4]:
df_2020.head()

,credit_score,date,first_buyer,maturity_date,msa,mgt_ins,num_units,occ_status,cltv,dti,...,loan_term,num_borr,seller,servicer,scf,pre_harp_num,prog_indic,h_indic,valuation,interest_only
0,681,202003,N,205002,45820.0,30,1,P,95,13,...,360,1,Other sellers,U.S. BANK N.A.,NaN,NaN,9,NaN,2,N
1,775,202004,N,205003,NaN,25,1,P,87,29,...,360,2,Other sellers,PHH MORTGAGE CORPORATION,NaN,NaN,9,NaN,2,N
2,770,202003,9,203502,41180.0,0,2,I,65,14,...,180,1,Other sellers,SPECIALIZED LOAN SERVICING LLC,NaN,NaN,9,NaN,2,N
3,791,202004,N,205003,10580.0,0,1,P,80,33,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N
4,697,202004,9,205003,14860.0,0,1,P,68,35,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N

In [5]:
df_2015_2019.head()

,credit_score,date,first_buyer,maturity_date,msa,mgt_ins,num_units,occ_status,cltv,dti,...,loan_term,num_borr,seller,servicer,scf,pre_harp_num,prog_indic,h_indic,valuation,interest_only
0,768,201905,N,204904,22020.0,0,1,P,52,36,...,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N
1,798,201903,Y,204902,31084.0,0,1,P,80,49,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N
2,789,201904,9,202903,45780.0,0,1,P,39,43,...,120,1,Other sellers,"PNC BANK, NA",NaN,NaN,9,NaN,2,N
3,782,201903,N,204902,24260.0,0,1,P,80,26,...,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N
4,773,201905,9,204904,NaN,0,1,P,80,27,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,2,N

In [6]:
df_2015_2019.tail()

,credit_score,date,first_buyer,maturity_date,msa,mgt_ins,num_units,occ_status,cltv,dti,...,loan_term,num_borr,seller,servicer,scf,pre_harp_num,prog_indic,h_indic,valuation,interest_only
332204,779,201512,9,204511,21500.0,0,1,P,80,29,...,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
332205,756,201602,N,204601,NaN,0,1,P,95,43,...,360,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
332206,801,201603,9,204602,10420.0,0,1,P,66,22,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
332207,772,202003,N,204511,19430.0,0,1,P,73,27,...,309,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
332208,812,202008,9,203011,NaN,0,1,P,38,17,...,124,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N

In [7]:
# Loading and naming the columns for each quarter of the dataset in reverse order, for 2010-2014

df_q1_2014 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2014Q1.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q2_2014 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2014Q2.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q3_2014 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2014Q3.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q4_2014 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2014Q4.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q1_2013 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2013Q1.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q2_2013 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2013Q2.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q3_2013 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2013Q3.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q4_2013 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2013Q4.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q1_2012 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2012Q1.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q2_2012 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2012Q2.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q3_2012 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2012Q3.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q4_2012 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2012Q4.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q1_2011 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2011Q1.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q2_2011 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2011Q2.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q3_2011 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2011Q3.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q4_2011 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2011Q4.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q1_2010 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2010Q1.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q2_2010 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2010Q2.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q3_2010 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2010Q3.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

df_q4_2010 = pd.read_csv('/Users/Justin/data_projects/datasets/freddie_mac/quarterly_data/historical_data_2010Q4.txt', 
                         sep = '|', skiprows=1, header=None,
                         names=["credit_score", "date", "first_buyer", "maturity_date", "msa", "mgt_ins",
                         "num_units", "occ_status", "cltv", "dti", "upb", "ltv", "int_rate", "channel", "ppm", 
                         "amor_type", "state", "prop_type", "zipcode", "seq_num", "loan_purpose", "loan_term",
                         "num_borr", "seller", "servicer", "scf", "pre_harp_num", "prog_indic", "h_indic", 
                        "valuation", 'interest_only'])

/Users/Justin/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Justin/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)
/Users/Justin/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3146: DtypeWarning: Columns (6,26,28) have mixed types.Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [8]:
# Create new df with append

df_2010_2014 = df_q1_2014.append([df_q2_2014, df_q3_2014, df_q4_2014, df_q1_2013, df_q2_2013, df_q4_2013,
                                 df_q1_2012, df_q2_2012, df_q3_2012, df_q4_2012, df_q1_2011, df_q2_2011, 
                                 df_q3_2011, df_q4_2011, df_q1_2010, df_q2_2010, df_q3_2010, df_q4_2010])

df_2010_dec = df_2015_2019.append([df_2010_2014])

In [9]:
df_2010_2014.head()

,credit_score,date,first_buyer,maturity_date,msa,mgt_ins,num_units,occ_status,cltv,dti,...,loan_term,num_borr,seller,servicer,scf,pre_harp_num,prog_indic,h_indic,valuation,interest_only
0,770,201404,9,202903,NaN,12,1,P,89,30,...,180,2,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
1,674,201403,9,202902,NaN,0,1,P,89,999,...,180,1,Other sellers,Other servicers,NaN,F06Q30104219,9,Y,9,N
2,717,201404,9,204403,39300.0,0,1,I,77,41,...,360,2,Other sellers,"LAKEVIEW LOAN SERVICING, LLC",NaN,NaN,9,NaN,9,N
3,813,201405,Y,204404,19780.0,30,1,P,95,32,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
4,799,201403,9,204402,NaN,0,1,P,79,37,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N

In [10]:
df_2010_2014.tail()

,credit_score,date,first_buyer,maturity_date,msa,mgt_ins,num_units,occ_status,cltv,dti,...,loan_term,num_borr,seller,servicer,scf,pre_harp_num,prog_indic,h_indic,valuation,interest_only
592326,776,201102,9,204101,NaN,0,1,P,94,42,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
592327,811,201102,9,204101,34940.0,0,1,S,76,47,...,360,1,BRANCH BANKING & TRUST COMPANY,TRUIST BANK,NaN,NaN,9,NaN,9,N
592328,774,201012,N,204011,46520.0,0,1,P,73,42,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
592329,765,201102,Y,204101,46520.0,0,1,P,80,32,...,360,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N
592330,716,201209,N,204011,39300.0,0,1,P,77,39,...,339,1,Other sellers,Other servicers,NaN,NaN,9,NaN,9,N

## Quick check

From the head and tail of the data it seems the date column is consistent and all data appears to be lebeled correctly.

In [11]:
df_2010_dec.shape

(15343355, 31)

# Exports

We will use to_csv to export a file that we can import later. The two files we will create are df_2010_dec and df_2020. While it would be beneficial to index these by date for a time series analysis, we will take care of that step in the data cleaning section.

In [12]:
df_2020.to_csv('df_2020.csv', index=False)

df_2010_dec.to_csv('df_2010_dec.csv', index=False)